/********  hoja de estilo de la receta de cocina **********/

body {background-image: url("../images/fondo.jpg");
      padding:20px;
      font-family: 'Open Sans', sans-serif;}

#container {width:80%;
            background-color: white;
            margin:auto;
            padding:2%;}

#container h1 {text-align:center;}

#container h2 {background-color:#95b6c9;
               padding-left:10px;}

#container dl dt {font-weight:bold;}

#container iframe { display:block; /* para obligar a que iframe se comporte como un bloque */
                    margin:auto;}